@font-face {
  font-family: "iconfont"; /* Project id 4056020 */
  src: url('iconfont.woff2?t=1685438041212') format('woff2'),
       url('iconfont.woff?t=1685438041212') format('woff'),
       url('iconfont.ttf?t=1685438041212') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gf-pauseCircle:before {
  content: "\ea81";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-open:before {
  content: "\e91e";
}

.icon-notebook-2:before {
  content: "\e91f";
}

.icon-phone:before {
  content: "\e920";
}

