body{
    width: 80%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
}
h2{
    color: black;
    text-align: center;
}

.mycolor{
    color: blue;
}

.size{
    font-size: 10px;
}
p{
    width: 400px;
    height: 200px;
    border:1px solid black;
    padding: 5px;
}