*{
    padding: 0;
    margin: 0;
}
body{
    width: 80%;
    height: 600px;
    margin: 0 auto;
}
h2{
    text-align: center;
}
.mybox{
    position: relative;
    display: block;
    width: 300px;
    height: 200px;
    top: 150px;
    left: 30%;
    border: 20px solid green;
    background-color: gray;
    padding: 20px;

    background-clip: content-box;
    outline:  20px solid blue;
    border-radius: 50%;

    box-shadow: 0 0 0 40px red, 0 0 0 60px orange, 0 0 0 80px purple,0 0 0 120px black;

}
.area{
    border: 10px solid green;
}
.area:focus{
    border: 10px solid red;
}
.line::first-line{
    color: brown;
    font-style: italic;
}
p::first-letter{
    color: red;
    font-size: 32px;
}
/* a:link{} */