*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "class6";
    src: url("../../fonts/newfont/fonts/raphaelicons-webfont.ttf");
    font-weight: normal;
    font-style: normal;
}
body{
    width: 80%;
    height: 500px;
    margin: 0 auto;
}
h2,p{
    text-align: center;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #707070;
    margin-top: 5px;
}
.slide{
    position: relative;
    height: 100%;
    background: linear-gradient(white,pink);
    overflow: hidden;
}
.topbox{
    position: relative;
    width: 200px;
    height: 200px;
    background: orange;
    /* margin: 0 auto; */
    /* -webkit-transform: ; */
    left: 50%;
    /* 可以移动 以中心为轴转动  */
    transform: translate(-100px) translateY(-100px) rotate(45deg); 
}
/* 所有具有data-icon的元素 */
[data-icon]::after{
    position: absolute;
    content: attr(data-icon);
    width: 100%;
    height: 100%;
    font-family: class6;
    font-size: 90px;
    color: #fff;
    color: blue;
    text-align: center;


    line-height: 200px;
    vertical-align: middle;
    transform: translateX(25%) translateY(25%) rotate(-45deg);

}

[data-icon="B"]{
	background: linear-gradient(white,red);
}
[data-icon="U"]{
	background: linear-gradient(white,blue);
}
[data-icon="1"]{
	background: linear-gradient(white,green);
}
[data-icon="2"]{
	background: linear-gradient(white,purple);
}
[data-icon="3"]{
	background: linear-gradient(white,lightgray);
}
.slider:nth-of-type(2){
	background: linear-gradient(white,lightblue);
}
div:has( > [data-icon="1"]){
	background: linear-gradient(white,yellowgreen);
}
div:has( > [data-icon="2"]){
	background: linear-gradient(white,purple);
}
div:has( > [data-icon="3"]){
	background: linear-gradient(white,gray);
}


.menu{
	position: fixed;
	width: 50px;
	height: 255px;
	top: 100px;
	left: 30px;
/*	border: 1px solid #707070;*/
}
.menu .menuitem{
	display: block;
	height: 50px;
	margin-top: 1px;
	background: blue;
	color: white;
	font-size: 20px;
/*	font-weight: bold;*/
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	border-radius: 100%;
}