*{
    padding: 0;
    margin: 0 ;
}
body{
    width: 80%;
    height: 650px;
    margin:0 auto ;
    background-color: #463f3f;
}
.container{
    position: relative;
    width: 1280px;
    /* height: 900px; */
    margin: 0 0;
    background:url("../../Imgs/library/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
h1{
    text-align: center;
    background-color: #733e1c;
    /* margin: 43px auto 88px; */
    width: 20em;
    text-align: center;
    color: #323232;
    font-size: 4em;
    font-family: 'Henny Penny', cursive;
    text-shadow: 0px 0px 4px #FFFFFF;
    padding: 14px 0px;
    border-radius: 80px 80px 0px 0px;
}
h2{
    text-align: left;
    font-family: 'Henny Penny', cursive;
    text-shadow: 0px 0px 4px #FFFFFF;
}
.toolbar{
    position: fixed;
    width: 52px;
    height: 208px;
    /* border: 1px solid #707070; */
    bottom: 50px;
    right: 20px;
    z-index: 9;
}
.toolbar-item{
    display: block;
    width: 100%;
    height: 52px;
    /* background: url("../../Imgs/头像.jpg") no-repeat; */
    background: url('../../Imgs/图标/图标.png') no-repeat;
    margin-top:1px ;
    transition: all 1s ease;
}
.toolbar-item-1{
    background-position: -10px -10px;
}
.toolbar-item-1:hover{
    background-position: -72px -10px;
}
.toolbar-item-2{
    background-position: -10px -62px;
}
.toolbar-item-2:hover{
    background-position: -72px -62px;
}
.toolbar-item-3{
    background-position: -10px -122px;
}
.toolbar-item-3:hover{
    background-position: -72px -122px;
}
.toolbar-item-4{
    background-position: -10px -184px;
}
.toolbar-item-4:hover{
    background-position: -72px -184px;
}

.bar{
    width: 1280px;
    height: 45px;
    background-color:#733e1c ;
    position: relative;
}
.topbtn{
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 10%;
    font-size: 24px;
    background-color: antiquewhite;
}
.btn1{
    left: 20%;
}
.btn2{
    left: 40%;
}
.btn3{
    left: 60%;
}
#catalogs{
    position: absolute;
    left: 40%;
    top: 45px;
    background-color: antiquewhite;
    display: none; 
    z-index: 9;
}
#cata1{
    display: block;
}
#cata2{
    display: block;
}
#cata3{
    display: block;
}
.submit{
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: beige;
            left: 50%;
            top: 45%;
        }
.ipt{
            position: absolute;
            width: 300px;
            height: 200px;
            background-color: antiquewhite;
            font-size: 24px;
            left: 40%;
            top: 10%;
        }

        .bookshelf {
            width: 1280px;
            margin: 5rem auto;
            text-align: center;
            position: absolute;
          }
          
          .book-grid {
            width: 1280px;
            z-index: 2;
            position: absolute;
            -webkit-transform: translateY(-15px);
                    transform: translateY(-15px);
          }
          .book-grid ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
          }
          .book-grid ul li {
            justify-self: center;
          }
          .book-grid ul img {
            display: block;
            box-shadow: 0px -5px 20px 2px rgba(0, 0, 0, 0.3);
            width: 200px;
            height: 300px;
            -o-object-fit: cover;
               object-fit: cover;
        
            border-right: 15px solid #c7c7c7;
            border-radius: 0px 15px 9px 0px;
          }
        
        
          
          .shelf-shadows {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1rem;
            border-radius: 2px;
            z-index: 1;
            box-shadow: 0px -5px 3px 0px rgba(170, 170, 170, 0.2), 0px 15px 20px 0px rgb(0 0 0 / 70%), 0px 5px 5px 0px rgba(119, 119, 119, 0.3);
          }
          
          .shelf {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 1280px;
            height: 1rem;
            background-color: #9c612e;
            border-radius: 2px;
            z-index: 3;
          }

.quote{
    position: absolute;
    width: 600px;
    height: 278px;
    border: solid 5px #9c612e;
    left: 20%;
    overflow: hidden;
    background-color: #c7c7c7;

}
.quote img{
    position: absolute;
    width: 200px;
    height:278px;
}
.quote p{
    position:absolute;
    font-size: 35px;
    font-family: 'Henny Penny', cursive;
    text-shadow: 0px 0px 4px #FFFFFF;
    left: 200px;
    top:50px;
    
}
.details{
    position: absolute;
    width: 1280px;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 6;
}
.details details{
    justify-self: center;
}
marquee{
    position: relative;
    height: 1200px;
}
marquee p{
    color: rgb(165, 195, 19);
}
.mar{
    position: absolute;
    top: 650px;
}
.top{
    top:400px;
}
.top1{
    top: 700px;
}
.top2{
    top: 725px;
}

.bk1-top{
    top: 50px;
}
.bk1-top1{
    top:350px;
}
.bk1-top2{
    top: 375px;
}

.bk2-top{
    top: 450px;
}
.bk2-top1{
    top:750px;
}
.bk2-top2{
    top: 775px;
}

.bk3-top{
    top: 850px;
}
.bk3-top1{
    top:1150px;
}
.bk3-top2{
    top: 1175px;
}

.bk4-top{
    top: 1250px;
}
.bk4-top1{
    top:1550px;
}
.bk4-top2{
    top: 1575px;
}
.container-height{
    height: 900px;
}
.container-all-height{
    height: 1700px;
}
.container-feedback-height{
    height: 600px;
}