*{
    padding: 0;
    margin: 0;
}

body{
    width:80vw ;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid red;
}
@keyframes myrotate{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
}

h2,h3,h4,h5,h6{
    text-align: center;
}

h2{
   font-size: 5vw; 
}

h3{
    font-size: 16px;
}

h5{
    color:orange;
    font-size: 12pt;/*12pt=16px*/
}

h6{
    color: blue;
    font-size: 1em;
}
.h6{
    color: brown;
    font-size: 1rem;
}

.first1{
    text-align: center;
    font-size: 1em;
}

.second1{
    color: brown;
    text-align: center;
    font-size: 0.5em;
}

.third1{
    color: black;
    text-align: center;
    font-size: 2rem;
}

.ani{
    position: relative;
    width: 330px;
    height: 330px;
    top: 30px;
    left: 35%;
    /* border-radius: 100%; */
    overflow: hidden;


}

.ani img{
    width: 300px;
    height: 300px;
    bottom: 30%;
    border-radius: 100%;
    border: 1px solid red;


}
audio{
    display: none;
}
.infinite{
    animation: myrotate 10s infinite linear;
}
.pause{
    animation: myrotate 10s pause linear;
}
.btn{
    position: absolute;
    width: 30px;
    height: 20px;
    bottom: 0;
    left: 45%;

} 