*{
    padding: 0;
    margin: 0;
}
body{
    width: 90%;
    height: 650px;
    margin: 10px auto;
}
h2{
    text-align: center;
}
.container{
    position: relative;
    height: 600px;
    border: 1px solid black;
    padding: 10px;
}
.ipt{
    position: absolute;
    border: 2px solid blue;
    height: 35px;
    font-size: 24px;
    padding: 0 10px;
}
.lb{
    position: absolute;
    font-size: 24px;
    padding-right: 10px;
}
.top1{
    top: 5%;
}
.top2{
    top: 15%;
}
.top3{
    top: 25%;
}
.top4{
    top: 35%;
}
.top5{
    top: 45%;
}
.top6{
    top: 55%;
}
.top7{
    top: 65%;
}
.col1{
    left:25% ;
}
.col2{
    left: 75%;
}
.col3{
    left: 10%;
}
.col4{
    left: 70%;
}
.col11{
    left: 25%;
}
.col22{
    left: 55%;
}
.col33{
    left: 85%;
}
.col111{
    left: 10%;
}
.col222{
    left: 40%;
}
.col333{
    left: 70%;
}
.col3333{
    left: 65%;
}
input[type="radio"]{
    width: 20px;
}
input[type="checkbox"]{
    width: 20px;
}
.btn{
    display: block;
    margin: 10px auto;
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: #3e8e41;
}
